body {
	padding-top: 55px;
	background-color: #F4F4F4;
}

.post img {
	display: block;
	margin: auto;
}

h4>code {
    color: gray;
    background: white;
    border-radius: 4px;
    border: 1px solid #888888;
    font : 1em "andale mono";
}

strong {
	color: #799F48;
}

p>code {
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.post-container {

}

.container {
	max-width: 970px;
}

#recent article {
	display: block;
}

#recent article h2 a {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #6C94A7;
	font-size: 80%;
}

#recent article p {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	text-overflow: -o-ellipsis-lastline;
}

article p {
	font-family: 'Crimson Text', serif;
	font-size: 135%;
}

.highlight {
	width: 85%;
	margin: auto;
}

.navbar li:hover {
	background-color: #E08D61;
	color: white;
	opacity: 0.7;
	-webkit-filter: invert(100%);
	transition: all 0.5s;
}

.navbar li a:hover {
	color: white;
}

.navbar-nav {
	float: right;
}

.navbar-nav img {
	width: 25px;
	height: 25px;
}

.jumbotron h1 a, .jumbotron h1 {
	color: #EEEEEE;
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
	font-size: 45px;
}

.jumbotron {
	background-color: #6C94A7;
	border-bottom: 10px solid #8AAC5A;

	padding-top: 20px;
	padding-bottom: 20px;
}

.jumbotron p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
}

.jumbotron p.meta {
	font-size: 85%;
	font-style: italic;
}

.logo {
	margin-top: 20px;
}

footer p {
	color: #919195;
	text-align: center;
}

@media (min-width:992px) {
	#recent article {
		height: 20em;
	}
}
